.project{
    margin-left:120px;
}

.project hr{
    width:400px;
    margin: 10px auto;
    color:#138781;
}

.project h2{
    font-weight:bold;
    color:#138781;
}

#ads{
    margin:30px 87px 30px 0px;

}
#ads .card-notify-badge {
    position:absolute;
    left:-10px;
    top:-20px;
    background-color: #f29f6f;
    text-align:center;
    border-radius:30px 30px 30px 30px;
    font-size:14px;
    padding:5px 10px;
    color:black;

}

.project .card img {
    height:150px;
    width:100%;
}
.card-detail-badge{
    background-color:#e0b50f;
    color:black;
    text-align:center;
    border-radius:30px 30px 30px 30px;
    padding:5px 10px;
    font-size:14px;

}

.card-image-overly span{
    display:inline-block;
    margin-left:5px;


}
.ad-btn{
    text-transform:uppercase;
    width:150px;
    height:40px;
    display:block;
    text-align:center;
    background-color:#138781;
    color:white;
    border-radius:80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration:none;
    margin:20px auto 20px auto;
    overflow:hidden;
    position:relative;



}

.project .card:hover{
    background-color:white;
    border-radius:4px;
    box-shadow: 12px 20px 15px 0px rgba(46,61,73,0.15);
    transition:all 1s ease;
}
.ad-btn:hover{
    background-color:white;
    color:#138781;
    background:transparent;
    border:2px solid #138781;
    transition:all 0.5s ease;
    box-shadow: 12px 20px 15px 0px rgba(46,61,73,0.15);

}
@media (max-width:600px){
    .project{
        margin:0;
        padding:0;
        margin-top:50px;

    }
    .project hr{
        width:280px;
    }
    .project .card {
    margin-top:30px;
    }
}
